@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i|Playfair+Display:700&display=swap');

$text-font: 'Fira Sans', sans-serif;
$heading-font: 'Playfair Display', serif;
$rem: 16px;

html {
  margin: 0;
  font: $rem $text-font;
}
body {
  margin: 0;
  opacity: 1;
  transition: opacity 2s;
}

.hero {
  box-sizing: border-box;
  // width: 100vw;
  height: 90vh;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;

  img {
    width: 200px;
    border-radius: 50%;
    border: 0.5rem solid white;
    box-shadow: 0 0 0 3px black;
    margin-right: 1rem;
    margin-bottom: 1rem;
    transition: all 1s;
  }
}

.hero-heading {
  // width: max-content;
  height: min-content;
  transition: all 0.5s ease-in-out 1s;

  h1 {
    font: 3rem $heading-font;
    margin: 0.83rem 0 0.3rem 0;
    padding-right: 2.5rem;
  }

  span {
    font-style: italic;
    font-size: 1.2rem;
  }
}

.type > .wrap {
  border-right: 0.16rem solid #222;
}

// Message bubble
#message {
  box-sizing: border-box;
  width: 30%;
  padding: 0.6rem;
  background: linear-gradient(rgb(177, 210, 230), rgb(151, 188, 210));
  border: 1px solid #4f8fb4;
  border-radius: 0.4rem;
  position: fixed;
  bottom: 2rem;
  left: 35%;
  box-shadow: 0 1px 6px rgba(0,0,0,0.3);
  transition: all 0.3s;

  p {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.3;
    margin: 0;
    color: rgb(36, 66, 83);
  }
}

// Animations etc. *******
body.loading {
  opacity: 0;

}
.hero img.initial-state {
  width: 0px;
  height: auto;
}
.hero-heading.initial-state {
  opacity: 0;
  transform: translateY(2rem);
}
#message.initial-state {
  opacity: 0;
  transform: translateY(130%);
}


@media (max-width: 500px) {
  html {
    font-size: $rem - 3px;
  }
  .hero {
    height: 75vh;
    img {
      width: 160px;
    }
  }
  .hero-heading {
    // width: 90vw;
  }
  #message {
    width: 80%;
    left: 10%;
  }
}
